<footer class="footer">
  <small>
    <%= t(".cre1") %>
    <%= link_to t(".cre2"), Settings.urls.rails_tutorial_url %>
    <%= t(".cre3") %>
    <%= link_to t(".cre4"), Settings.urls.author_url %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".news"), Settings.urls.rails_tutorial_news_url %></li>
      <li>|</li>
      <li><%= link_to t(".en"), locale:"en" %></li>
      <li><%= link_to t(".vi"), locale:"vi" %></li>
    </ul>
  </nav>
</footer>
